<div class="chat-contents">
  <div class="chat-messages">
    <div class="contributor">
      <%= message.user.name %>
    </div>
    <div class="date">
      <!-- 投稿した時刻を出力する -->
      <%= l message.created_at %>
    </div>
  </div>
  <div class="text-image">
    <div class="text">
      <!-- 投稿したメッセージ内容を記述する -->
      <%= message.content %>
    </div>
    <%= image_tag message.image.variant(resize: "500x500"), class: "message-image" if message.image.attached? %>
  </div>
</div>