<div class="side-header">
  <div class="user-name">
    <%=link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="chat-create">
    <%= link_to "チャットを作成する", new_room_path %>
  </div>
</div>
<div class="rooms-display">
  <% current_user.rooms.each do |room| %>
      <div class="room-display">
        <div class="chat-name">
          <%= link_to room.name, room_messages_path(room) %>
        </div>
      </div>
  <% end %>
</div>

